*{
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
h1{
    font-size: 50px;
}
.mg{
    margin: 0px 150px;
}
header {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav {
    background-color: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    margin-top: 5px;
    margin-right: 300px;
    justify-self: left;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}
.out{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(25, 152, 18);
    color:rgb(25, 152, 18);
}
.qs{
    background-color: #1d1d1d;
    font-weight: bold;
}
.confirm {
    background-color: aqua;
}
#this{
    color: #000000;
    background-color: #fff;
}
.box{
    margin: 20px 0px;
    padding: 10px 30px;
    background-color: #302f2f;
    border-radius: 10px;
}
.q{
    background-color: #302f2f;
    font-weight: bold;
}
.a{
    background-color: #302f2f;
    margin: 20px 10px;
}